/* Master Styes*/
body {
    font-family: 'Roboto Slab', sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav Styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    background-color: #3f3f3f;
}

.left-side {
    display: flex;
}

.brand a {
    color: #dcdcdc;
    text-decoration: none;
    transition: color 0.5s;
}

.brand a:hover {
    color: #f5f5f5;
}

/* Navbar Links */
.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #dcdcdc;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid #8c8c8c;
}

.nav-link-wrapper a:hover {
    color: #f5f5f5;
}

.active-nav-link {
    border-bottom: 1px solid #8c8c8c;
}

.active-nav-link a {
    color: #f5f5f5 !important;
}

/* Dropdown Links */
/*.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    color: #a39274;
}*/

/* Portfolio styles*/
.content-wrapper {
    background-color: #dcdcdc;
}

.content-wrapper h1 {
    padding: 36px;
    padding-bottom: 0px;
    padding-top: 10px;
    color: #a39274;
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper a {
    position: absolute;
    top: 0;
    color: transparent;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.img-text-wrapper:hover a {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover a {
    font-weight: 600;
    color: lightseagreen;
}

.img-darken {
    transition: 1s;
    filter: brightness(50%);
}


/* About Pg Styles */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width: 100%;
}

.profile-content-wrapper {
    padding: 30px;
}

/* Carousel code */
.carousel-item {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* image fill */
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fill img {
    flex-shrink: 100;
    min-width: 100%;
    min-height: 100%;
}

.front-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.front-image-wrapper img {
    width: 100%;
}